.category-slide-item {
    text-align: center;
    color: #ffffff;
    padding: 5px 0;
}

.category-slide-item img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: contain;
    margin: auto;
}

.category-slide-item .cat-name {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 0;
    color: #000000;
}

#header .slick-list {
    /* height: 60px; */
    overflow: visible;
    /* overflow-x: hidden; */
}

.dropdown-submenu {
    position: relative;
}

.myheader-category-slider .slick-active:last-child .dropend .dropdown-menu {
    right: 100% !important;
    left: auto !important;
}

@media only screen and (min-width:900px) {
    #header .category-slide-item .dropdown-menu {
        margin-top: 3px;
    }
}

@media only screen and (max-width:800px) {
    .category-slide-item img {
        width: 40px;
        height: 40px;
        margin-bottom: 0px;
    }

    .category-slide-item .cat-name,
    .category-slide-item .cat-name:after {
        font-size: 10px !important;
    }

    .category-slide-item {
        padding: 5px 0 1px 0;
    }

    .cat-name:after,
    .hide-mob {
        display: none !important;
    }

    .category-slide-item .btn-group {
        display: block;
        line-height: 1em;
        margin-top: -2px;
    }
}

.category-slide-item .btn-group {
    display: block;
}